*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,20,0.7),rgba(4,9,20,0.7)),url(./universitywiser.jpg);
     background-position: center;
     background-size: cover;
     position:relative;
}


nav{
    display: flex;
    padding:20px 6px;
    justify-content: space-between;
    align-items: center;
}

.joke img{
   
    width:160px;
    color: white;
}

.nav-link ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
   
    
}
.nav-link ul li a{
    color:white;
    text-decoration: none;
    font-size:15px;
    margin-right:20px;
    margin-top:20px;
}
.nav-link ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#f44336;
    display: block;
    margin:auto;
    transition:0.5s;
    
}

.nav-link ul li:hover::after{

    width:100%;
    }
.nav-link ul li p{
    background-color: lightblue;
    border-radius:2px;
    border:none;
    color:#fff;
    height:21px;
    width:50px;


}



.textbook{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top:90px;

}
.textbook h1{
    font-size:69px;

}
.textbook p{
    margin:0px 0px 40px;
    font-size:14px;
    color:#fff;
}
.btn{
    color:white;
    display:inline-block;
    border:1px solid#ffff;
    font-size: 14px;
    background:transparent;
    padding:12px 34px;
    text-decoration: none;
    position:relative;
  
}
.btn:hover{
    border-radius:2px;
    /* border:2px solid #f44336; */
    background-color:orange;
    transition:1s;
    
}
.course{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:10px;
}
.course h1:hover{
  
    color:#f44336;
}
.course h1{
    font-size:37px;
    font-weight:500;

}
.course p{
    font-size:14px;
    color:black;
}

.allsub{
    margin-top:9px;
    justify-content:space-between;
    display: flex;   
}
.subjects{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:55px;
    margin-top:34px;
    padding:20px 12px;
    box-sizing: border-box;
    transition:0.5s;
    width:170px;
    height:400px;
    margin-left:20px;
    margin-right:20px;
    
}
h3{
    text-align: center;
    font-weight: 700;
    margin:10px 0px;
}
.subjects:hover{
box-shadow:0px  0px 20px 0px  rgba(0,0,0,0.2);
}

/* global branch */
.global{
    margin-top:-10px;
    width:80%;
    margin:auto;
    text-align: center;  
    margin-bottom:15px; 
}
.global h1{
    font-size:36px;
    font-weight:500;

}
.global h1:hover{
    color:#f44336;
}


.branches{
    margin-top:10px;
    justify-content:space-around;
    display: flex;  
    min-height: 100vh;
}

.campus{
    width:350px;
    background:radial-gradient(red);
    overflow: hidden;
    position:relative;

}
.campus img{
    height:400px;
    width:350px;
    display: block;
    border:none;
    transform:scale(1.3);
    transition: 1s ease-out;
}
.campus img:hover{
   
    transform: scale(1.1) translate(-20px); 
    opacity:0.34px;

 
}

.name5{
    background:transparent;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    padding:15px;
    text-align:center;
    color:#f41f1f;
    font-size:18px;
}

.name5 h3{
    font-weight: 700px;
    font-size: 32px;
    margin:0px 0px 20px;

}

.name7{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    padding:15px;
    text-align:center;
    color:#ffffff;
    font-size:18px;
}
.name7 h3{
    font-weight: 700px;
    font-size: 32px;
    margin:0px 0px 20px;

}
.name6{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    padding:15px;
    text-align:center;
    color:#ffffff;
    font-size:18px;
}
.name6 h3{
    font-weight: 700px;
    font-size: 32px;
    margin:0px 0px 20px;

}
/* facilities */

.faci{
    margin-top:-10px;
    width:80%;
    margin:auto;
    text-align: center;  
    margin-bottom:15px; 
}
.faci h1{
    font-size:36px;
    font-weight:500;


}
.faci h1:hover{
    color:#f44336;
}
