*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(30, 29, 24, 0.7),rgba(39, 42, 79, 0.7)),url(./universitywiser.jpg);
     background-position: center;
     background-size: cover;
     position:relative;
}
nav{
    display: flex;
    padding:20px 6px;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width:150px;
    color: white;
}

.nav-link ul li{
    list-style:none;
    display:inline-block;
    padding:40px 12px;   
}
.nav-link ul li a{
    color:white;
    text-decoration: none;
    font-size:15px;
 
}
.nav-link ul li a::after{
    content:'';
    width:0%;
    height:2px;
    background:#f44336;
    display: block;
    margin:auto;
    transition:0.5s;    
}

.nav-link ul li a:hover::after{
    width:100%;
    }
.nav-link ul li p{
    background-color:rgb(109,179,202);
    border-radius:2px;
    /* border:1px solid white; */
    color:#fff;
    height:21px;
    width: 100px;
}

.textbook{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top:110px;

}
.textbook h1{
    font-size:69px;

}
.textbook p{
    margin:0px 0px 40px;
    font-size:14px;
    color:#fff;
}
.btn{
    color:white;
    display:inline-block;
    border:1px solid#ffff;
    font-size: 14px;
    background:transparent;
    padding:12px 34px;
    text-decoration: none;
    position:relative;
  
}
.btn:hover{
    border-radius:2px;
    background-color:orange;
    transition:1s;
    
}
.course{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:10px;
   
}
.course h1:hover{
    color:#f44336;
}
.course h1{
    font-size:37px;
    font-weight:500;

}
.course p{
    font-size:14px;
    color:black;
}

.allsub{
    margin-top:0px;
    justify-content:space-between;
    display: flex;  
  
}
.subjects{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:55px;
    margin-top:34px;
    padding:20px 12px;
    box-sizing: border-box;
    transition:0.5s;
    width:130px;
    height:290px;
    margin-left:20px;
    margin-right:20px;   
}
  h3{
    text-align: center;
    font-weight: 700;
    margin:10px 0px;
}


.subjects:hover{
box-shadow:0px  0px 20px 0px  rgba(0,0,0,0.2);
}

/* global branch */
.global{
    margin-top:-10px;
    width:80%;
    margin:auto;
    text-align: center;  
    margin-bottom:15px; 
    
}
.global h1{
    font-size:36px;
    font-weight:500;

}
.global h1:hover{
    color:#f44336;
}
.branches{
    margin-top:10px;
    justify-content:space-around;
    display: flex;  
    min-height: 60vh;
    margin-bottom:0px; 
}

.campus{
    width:470px;
    overflow: hidden;
    position:relative;
}
.campus img{
    height:400px;
    width:330px;
    display: block;
    transform:scale(1.3);
    transition: 1s ease-out;
   
   

}
.campus img:hover{
   border-radius:10px;
    transform: scale(1.1) translate(-20px); 
    background-blend-mode: darken;

}
/* facilities */

.facilities{
    width:80%;
    margin:auto;
    text-align: center;
   margin-top:8%; 
}
.facilities h1{
    font-size:37px;
    font-weight:500;

}
.facilities p{
    font-size:14px;
    color:black;
}
.row{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}


.facilities-all{
    flex-basis:32%;
    border-radius:10px;
    margin-bottom:5%;
    text-align:left;

}
.facilities-all img{

   
    border-radius:10px;
    flex-basis:31%;
    
   
    margin-bottom:0px;
    margin-top:34px;
    /* padding:20px 4px; */
 
    width:350px;
    height:290px;
  
    margin-left:20px;
    margin-right:20px;  
    gap:0.6rem;
   

}

/* .facilities-all img:hover{
    box-shadow:0px  0px 20px 0px  rgba(223, 122, 122, 0.2);

} */
.facilities-all p{
    padding:0px;
    font-size:14px;
    color:black;
}
.facilities-all h3{
    margin-top:16px;
    margin-bottom:15px;
    text-align: center;
    font-size: 20px;
    color:black;  
    font-weight: lighter;
}

.testimonials h1{
    width:80%;
    margin:auto;
    padding-top:30px;
    padding-bottom:0px;
    text-align: center;
    font-weight: lighter;
    
}
.testimonials p{
    width:80%;
    margin:auto;
    
    text-align: center;
    font-weight: lighter;
    margin-bottom:17px;
}


.std{
    display: flex;
    justify-content: center;
    align-items: center;

}
.girl{
    flex-basis:44%;
    border-radius:10px;
    /* margin-bottom:30%; */
    text-align:left;
    background:#fff3f3;
    padding:25px;
    cursor:pointer;
    display:flex;
    width:600px;
    height:130px;
    margin-left:20px;
    

}
.girl img{
    height:40px;
    margin-left:5px;
    margin-right:30px;
    border-radius:50%;
}
.girl p{
    padding:0px;

}
.girl h2{
    margin-top:15px;
    text-align:left;
}

.boy{
    flex-basis:44%;
    border-radius:10px;
    /* margin: bottom 20%; */
    text-align:left;
    background:#fff3f3;
    padding:25px;
    cursor:pointer;
    display:flex;
    width:600px;
    height:110px;
    margin-left:20px;
    margin-right:30px;

}
.boy img{
    height:40px;
    margin-left:5px;
    margin-right:30px;
    border-radius:50%;
}
.boy p{
    padding:0px;

}
.boy h2{
    margin-top:15px;
    text-align:left;
}
.girl .fa{
    color:red;
}
.call{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./background.jpg);
    background-position: center;
    background-size:cover;
    border-radius:10px;
    text-align:center;
    padding:100px 0px;

}
.call h1{
    color:white;
    margin-bottom:40px;
    padding:0px;
}



