
*{
    margin:0px;
    padding:0px;

}
header{
    height:60px;
    width:100%;
    background-color:#8E8DBE;
    display:flex;
    justify-content: left;
    align-items:center;
    /* position:fixed; */
}
header img{
    height:50px;
    width:200px;
}
section{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;

}

.box{
    height:490px;
    width:450px;
    border-radius:10px;
    background-color: rgb(243, 197, 197);   
    display:flex;
    justify-content: left;
    align-items:center;
}
.box:hover{
    border:2px solid black;
    box-shadow:0px  0px 20px 0px  rgba(0,0,0,0.2);
    }
form{
color:black;
padding:30px 20px 30px 20px;
display:flex;
flex-direction: column;

}

.box form h1{
    font-size: 36px;
    color:black;
    font-weight:900;
}

.box form .user{
    color:black;
    font-size: 16px;
    font-weight: 900;
}

.box form .user input#yes {
    width:400px;
    height:22px;

   
}
.box form .gander{
    color:black;
    font-size: 16px;
    font-weight: 900;
}

.btn{
    width:100px;
}
    

 

