*{
    margin:0px;
    padding:0px;
}

body{
    height:100vh;
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.nav{
    display: inline;
}

section{
 height:400px;
 width:1300px;
 background-image:url(./academics.jpg);
 background-position: center;
 background-size:cover;
}

